---
- name: Ensure systemd User Dir exists
  file:
    path: "~/.config/systemd/user"
    state: directory
    mode: '0755'
    
- name: Ensure Socket Configuration
  template:
    src: caddy.socket.j2
    dest: "~/.config/systemd/user/caddy.socket"
    mode: '0644'

- name: Ensure caddy_etc directory exists
  file:
    path: "~/caddy_etc"
    state: directory
    mode: '0755'

- name: Deploy Caddy configuration
  template:
    src: Caddyfile.j2
    dest: "~/caddy_etc/Caddyfile"
    mode: '0644'
  become: no
  
- name: Ensure user containers systemd directory exists
  file:
    path: "~/.config/containers/systemd"
    state: directory
    mode: '0700'

- name: Deploy Caddy network
  template:
    src: caddy.network.j2
    dest: "~/.config/containers/systemd/caddy.network"
    mode: '0600'

- name: Deploy Caddy config volume
  template:
    src: caddy-config.volume.j2
    dest: "~/.config/containers/systemd/caddy-config.volume"
    mode: '0600'

- name: Deploy Caddy data volume
  template:
    src: caddy-data.volume.j2
    dest: "~/.config/containers/systemd/caddy-data.volume"
    mode: '0600'

- name: Deploy Caddy container
  template:
    src: caddy.container.j2
    dest: "~/.config/containers/systemd/caddy.container"
    mode: '0600'

- name: Reload user systemd daemon
  systemd:
    daemon_reload: yes
    scope: user

