---
const currentYear = new Date().getFullYear();
---

<footer class="footer footer-center bg-base-200 text-base-content p-10 mt-auto">
  <div class="grid grid-flow-col gap-4">
    <a href="/about" class="link link-hover">About</a>
    <a href="/contact" class="link link-hover">Contact</a>
    <p class="text-sm">
      &copy; {currentYear}
      <strong>baduk.online</strong>. All rights reserved.
    </p>
  </div>
</footer>
