---
- name: Ensure systemd User Dir exists
  file:
    path: "~/.config/systemd/user"
    state: directory
    mode: '0755'
  
- name: Ensure user containers systemd directory exists
  file:
    path: "~/.config/containers/systemd"
    state: directory
    mode: '0700'

- name: Deploy service container
  template:
    src: baduk.container.j2
    dest: "~/.config/containers/systemd/baduk.container"
    mode: '0600'
  notify:
    - reload systemd user daemon
    - restart baduk

