---
- name: Ensure systemd User Dir exists
  file:
    path: "~/.config/systemd/user"
    state: directory
    mode: '0755'
  
- name: Ensure user containers systemd directory exists
  file:
    path: "~/.config/containers/systemd"
    state: directory
    mode: '0700'

- name: Ensure /etc/containers directory exists
  become: true
  file:
    path: "/etc/containers"
    state: directory
    mode: '0755'

- name: Deploy postgres environment file
  become: true
  template:
    src: postgres.env.j2
    dest: "/etc/containers/postgres.env"
    mode: '0600'
  notify:
    - restart postgres

- name: Deploy db volume 
  template:
    src: postgres-data.volume.j2
    dest: "~/.config/containers/systemd/postgres-data.volume"
    mode: '0600'
  notify:
    - reload systemd user daemon
    - restart postgres

- name: Deploy db container
  template:
    src: postgres.container.j2
    dest: "~/.config/containers/systemd/postgres.container"
    mode: '0600'
  notify:
    - reload systemd user daemon
    - restart postgres
