---
- name: Ensure systemd User Dir exists
  file:
    path: "~/.config/systemd/user"
    state: directory
    mode: '0755'
  
- name: Ensure user containers systemd directory exists
  file:
    path: "~/.config/containers/systemd"
    state: directory
    mode: '0700'

- name: Deploy db volume 
  template:
    src: postgres-data.volume.j2
    dest: "~/.config/containers/systemd/postgres-data.volume"
    mode: '0600'

- name: Deploy db container
  template:
    src: postgres.container.j2
    dest: "~/.config/containers/systemd/postgres.container"
    mode: '0600'
