baduk.online {
    tls {
        dns cloudflare {{ vault_cf_api_token }}
        resolvers 1.1.1.1
    }
    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
    reverse_proxy 0.0.0.0:{{ baduk_port }} {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    # Trust Cloudflare headers
    trusted_proxies cloudflare

    @cloudflare-only {
        not cf-ray *
    }
    respond @cloudflare-only 403
}
