PORT={{ baduk_port }}
ENV=production
LOG_FMT=json
BASE_URL={{ baduk_base_url }}
POSTGRES_URL={{ postgres_connection_string }}
GOOGLE_CLIENT_ID={{ google_client_id }}
GOOGLE_CLIENT_SECRET={{ google_client_secret }}
OGS_CLIENT_ID={{ ogs_client_id }}
OGS_CLIENT_SECRET={{ ogs_client_secret }}
