[Unit]
Description=Baduk Game Server
After=postgres.service
Requires=postgres.service

[Container]
ContainerName=baduk
Image=ghcr.io/hazzardr/baduk-online:main
EnvironmentFile=~/baduk_env/prod.yml
Network=baduk.network
AutoUpdate=registry
Notify=true

HealthCmd=curl --fail http://localhost:{{ baduk_port }}/health || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=5s
HealthTimeout=10s
HealthOnFailure=kill

[Service]
Restart=always
MemoryMax=1024M

[Install]
WantedBy=default.target
