Subject: Your baduk.online account has been activated!

{{define "htmlBody"}}
    <p>Dear {{.Name}},</p>
    <p>Your baduk.online account has been successfully activated. You can now log in using your email address ({{.Email}}) and password.</p>
    <p>Thank you for registering!</p>
    <p>The baduk.online Team</p>
{{end}}